version: '3.8'

services:
  redis:
    image: redis:alpine
    container_name: bookstore-redis
    ports:
      - "6379:6379"

  api:
    build: .
    container_name: bookstore-api
    ports:
      - "8080:3000"
    env_file:
      - .env
    environment:
      - REDIS_URL=redis://redis:6379
    depends_on:
      - redis
